:root {
  --background: #f6fdff;

  --primary: #06283d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

button {
  cursor: pointer;
}

body {
  background: var(--background);
  color: var(--primary);
}
