.button-edit-book {
  position: absolute;

  bottom: 5px;
  right: 5px;

  width: fit-content;
  height: fit-content;

  padding: 5px 10px;

  border-radius: 100%;
  border: none;

  background: var(--primary);
  color: var(--background);
  font-size: 1.5rem;
  font-weight: 600;

  transition: 1s filter;

  cursor: pointer;

  &:hover {
    filter: brightness(0.8);
  }
}

.menu-options-edit {
  position: absolute;
  background-color: var(--primary);

  border-radius: 5px;
  bottom: 5px;
  right: 5px;

  ul {
    list-style-type: none;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    margin: 0;
    padding: 0;

    button {
      color: var(--background);
      font-size: 0.75rem;
      font-weight: 600;

      background: none;
      border: none;

      padding: 5px 20px;

      transition: filter 1s;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}
